/** Variables **/
:root {
  --accent: #612EB9;
  --accent-light: #B830D8;
  --accent-gradient: linear-gradient(#B830D8, #612EB9);
  --accent-gradient-hover: linear-gradient(#612EB9, #B830D8);
}

/** Classes **/

.round15 {
  border-radius: 15px;
}

/** Elements **/
.btn-primary {
  border-color: var(--accent);
  background: var(--accent-gradient);
  color: #fff;
}

.btn-primary:hover {
  color: #fff;
  border-color: var(--accent);
  background: var(--accent-gradient-hover);
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(97,46,185, 0.5);
}

.btn-primary:not(:disabled):not(.disabled):active {
  border-color: var(--accent-light);
  background: var(--accent-gradient);
  color: #fff;
}

.btn-outline-primary {
  color: var(--accent);
  border-color: var(--accent);
}

.btn-outline-primary:hover {
  border-color: var(--accent-light);
  background-color: var(--accent);
  color: #fff;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  border-color: var(--accent-light);
  background-color: var(--accent);
  color: #fff;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(97,46,185, 0.5);
}